@model Customer

@{
    string title = ViewBag.Action + " Customer";
    ViewBag.Title = title;
}

<div class="container my-5 mb-5">
    <form class="bg-light rounded p-4 my-3 font-weight-bold box-shadow" asp-action="Edit" method="post">
        <h1>@title</h1>
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName">First Name</label>
            <input asp-for="FirstName" class="form-control" placeholder="Please Enter a First Name" />
        </div>

        <div class="form-group">
            <label asp-for="LastName">Last Name</label>
            <input asp-for="LastName" class="form-control" placeholder="Please Enter a Last Name" />
        </div>

        <div class="form-group">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control" placeholder="Please Enter a Address" />
        </div>

        <div class="form-group">
            <label asp-for="City">City</label>
            <input asp-for="City" class="form-control" placeholder="Please Enter a City" />
        </div>

        <div class="form-group">
            <label asp-for="State">State</label>
            <input asp-for="State" class="form-control" placeholder="Please Enter a State" />
        </div>

        <div class="form-group">
            <label asp-for="PostalCode">Postal Code</label>
            <input asp-for="PostalCode" class="form-control" placeholder="Please Enter a Postal Code" />
        </div>

        <div class="form-group">
            <label asp-for="CountryId">Country</label>
            <select asp-for="CountryId" class="form-control">
                <option value="">select a Country</option>
                @foreach (Country c in ViewBag.Countries)
                {
                    <option value="@c.CountryId">@c.Name</option>
                }
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" placeholder="Please Enter a Email" />
        </div>

        <div class="form-group">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" placeholder="Please Enter a Phone Number" />
        </div>

        <input type="hidden" asp-for="CustomerId" />

        <button type="submit" class="btn btn-success">@ViewBag.Action</button>
        <a asp-controller="Customer" asp-action="Index" class="btn btn-danger">Cancel</a>
    </form>
</div>