
@{
    ViewBag.Title = "About";
}


<div class="w-100 px-5 py-5 rounded">
    <div class="row flex-lg-row-reverse bg-dark text-light align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/img/pizza-carousel.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-5">
            <h1 class="display-5 fw-bold lh-1 mb-3">About Us.</h1>
            <p class="lead">
                
                There’s nothing cookie-cutter about SPORTS PRO - PepperoniPizza. Not our pizzas. Not our people. And definitely not the way we live life. Around here, we don’t settle for anything less than food we’re proud to serve. And we don’t just clock in. Not when we can also become our best, make friends, and have fun while we’re at it. We’re the pizza company that lives life unboxed.
            </p>
            <div class="m-1 justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" asp-controller="Home" asp-action="Index">Home</a>
                <a class="btn btn-outline-success btn-lg px-4" asp-controller="Products" asp-action="Index">Products</a>
            </div>
        </div>
    </div>
</div>

<div class="container p-5 mb-5 bg-dark text-light rounded">
    <h4 class="fst-italic">About</h4>
    <p class="mb-0"> Whether it’s the original Stuffed Crust or putting a pizza in outer space, we never stop driving ourselves to deliver hot pizzas, fast every time – anywhere you want to enjoy it.</p>
</div>

<div class="container">
    <div class="row mb-2">
        <div class="col-md-6 p-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Pepperoni</strong>
                    <div class="mb-1 text-muted">April 5th</div>
                    <p class="card-text mb-auto">The Italian word “pepperoni” means “large peppers.”</p>
                </div>
                
            </div>
        </div>

        <div class="col-md-6 p-4">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-success">Cheese</strong>
                    <div class="mb-1 text-muted">April 1st</div>
                    <p class="mb-auto">Cheese takes up about 1/10 the volume of the milk it was made from.</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="container py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom">What We Live For!</h2>
        <div class="row g-5 py-5">
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark p-2 m-2 flex-shrink-0 me-3 size">
                    <img height="60" src="~/img/pizza-slice.svg" alt="Pizza Slice" />
                </div>
                <div>
                    <h5>WHAT WE’RE ABOUT.</h5>
                    <p>We create food we’re proud to serve and deliver it fast, with a smile.</p>
                    
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark p-2 m-2 flex-shrink-0 me-3">
                    <img height="60" src="~/img/pizza-cutter.svg" alt="Cutter" />
                </div>
                <div>
                    <h5>WHERE WE COME FROM.</h5>
                    <p>The pizza was awesome. The service felt like home. And the customers were treated like family.</p>
                    
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-start">
                <div class="icon-square bg-light text-dark p-2 m-2 flex-shrink-0 me-3">
                    <img height="60" src="~/img/cooking.svg" alt="Cooking" />
                </div>
                <div>
                    <h5>FOR THE LOVE OF PIZZA</h5>
                    <p>Since then, our farmers have grown right alongside us, and the ingredients we use are still our highest priority. No one loves pizza more than us.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />