@model Product

@{
    ViewBag.Title = "Delete Product";
}

<div class="d-flex align-items-center justify-content-center my-xl-5">
    <div class="container bg-light rounded p-4 my-5 box-shadow">
        <h1>Confirm Product Deletion</h1>
        <table class="table table-bordered table-hover my-3">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Release Date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Code</td>
                    <td>@Model.Name</td>
                    <td>$@Model.Price</td>
                    <td>@Model.ReleaseDate</td>
                </tr>
            </tbody>
        </table>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="ProductId" />
            <button type="submit" class=" btn btn-success"> Delete</button>
            <a asp-controller="Product" asp-action="Index" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>