@{
    ViewBag.Title = "Home";
}



<div class="container my-5">
    <div class="jumbotron rounded">
        <h1 class="display-4">Come Back Soon! Registration currently under maintenance</h1>
        <p class="lead">This site is currently unavailable. Please pay attention to featured content or information in the future.</p>
        <hr class="my-4">
        <p>Come back soon.</p>
        <a asp-controller="Home" asp-action="Index">Home</a>
    </div>
</div>