@model IEnumerable<Customer>

@{
    string title = "Registration";
    ViewBag.Title = title;
}



<div class="container my-5">
    <form class="bg-light rounded p-4 my-3 font-weight-bold box-shadow" asp-action="Select" method="post">
        <h1>Get Customer</h1>

        <div class="form-group">
            <select id="id" name ="id" class="form-control">
                @foreach (Customer c in Model)
                {
                    <option value="@c.CustomerId">@c.FirstName @c.LastName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-success">Select</button>
    </form>

</div>